<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/public/css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= `@${user.screenName}` %></title>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-container">
        <div class="left nav-item nav-title">
          <a href="/">Vote App</a>
        </div>
        <div class="right">
          <div class="nav-item nav-option">
            This is a preview
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="page-main row">
        <div class="poll-head"><%= `${user.name} (@${user.screenName})` %></div>
        <div class="poll-info">
          <img class="profile-image" alt="profile-image" src=<%= user.profileImageUrl %> />
          <div>
            <h2>
              <%= user.name %>
            </h2>
            <h4>
              <%= user.location %>
            </h4>
          </div>
          <div id="user-poll-list">
            <h3>Polls Created</h3>
            <table class="user-polls">
              <thead>
                <tr>
                  <th>
                    Poll
                  </th>
                  <th>
                    Top Option
                  </th>
                  <th>
                    Votes
                  </th>
                  <th>
                    Total Votes
                  </th>
                </tr>
              </thead>
              <tbody>
                <% polls.reverse().map(poll => { %>
                  <tr>
                    <td>
                      <a target="_blank" href=<%= `/page/poll/${poll._id}` %>>
                        <%= poll.title.length < 20 ? poll.title : poll.title.substr(0, 20) + '...' %>
                      </a>
                    </td>
                    <td>
                      <% const option = poll.options.sort((a, b) => a.votes > b.votes).reverse()[0] %>
                      <%= (option.title.length < 20 ? option.title : option.title.substr(0, 10) + '...')%>
                    </td>
                    <td>
                      <%= option.votes %>
                    </td>
                    <td>
                      <%= poll.options.reduce((curr, next) => curr + next.votes, 0) %>
                    </td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="poll-foot">
          <span>
            Polls Created: <%= polls.length %>
          </span>
          <span style="float: right">
            Registered Votes: <%= user.pollsVoted.length %>
          </span>
        </div>
      </div>
    </div>
    <div style="padding: 50px; text-align: center;">
      <a href=<%= `/page/user/${user._id}` %> >Click here to go to full page in app...</a>
    </div>
  </div>
  </body>
</html>
